@body-color: #fdfdfd;

a,
a:hover,
a:focus,
a:target {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}

button:focus,
textarea:focus {
  outline: none;
}

pre {
  border: none;
  background-color: transparent;
}