.tuk-corner {
  width: 0;
  height: 0;
  border-top: 16px solid @tuk-theme-grey-500;
  border-right: 16px solid @tuk-theme-grey-500;
  border-bottom: 16px solid transparent;
  border-left: 16px solid transparent;
  position: absolute;
  top: -1px;
  right: -1px;
  border-top-right-radius: 2px;

  .no-border {
    top: 0;
    right: 0;
  }

  &.tuk-corner-info {
    border-top: 16px solid @tuk-theme-blue-300;
    border-right: 16px solid @tuk-theme-blue-300;
  }

  &.tuk-corner-primary {
    border-top: 16px solid @tuk-theme-indigo-600;
    border-right: 16px solid @tuk-theme-indigo-600;
  }

  &.tuk-corner-success {
    border-top: 16px solid @tuk-theme-green-400;
    border-right: 16px solid @tuk-theme-green-400;
  }

  &.tuk-corner-warning {
    border-top: 16px solid @tuk-theme-orange-300;
    border-right: 16px solid @tuk-theme-orange-300;
  }

  &.tuk-corner-danger {
    border-top: 16px solid @tuk-theme-red-400;
    border-right: 16px solid @tuk-theme-red-400;
  }
}