@tuk-corner-default: @tuk-theme-grey-500;
@tuk-corner-info: @tuk-theme-blue-300;
@tuk-corner-primary: @tuk-theme-indigo-600;
@tuk-corner-success: @tuk-theme-green-400;
@tuk-corner-warning: @tuk-theme-orange-300;
@tuk-corner-danger: @tuk-theme-red-400;

.tuk-corner {
  width: 0;
  height: 0;
  border-top: 16px solid @tuk-corner-default;
  border-right: 16px solid @tuk-corner-default;
  border-bottom: 16px solid transparent;
  border-left: 16px solid transparent;
  position: absolute;
  top: -1px;
  right: -1px;
  border-top-right-radius: 2px;

  .no-border {
    top: 0;
    right: 0;
  }

  &.tuk-corner-info,
  &.tuk-ticket-priority-low {
    border-top: 16px solid @tuk-corner-info;
    border-right: 16px solid @tuk-corner-info;
  }

  &.tuk-corner-primary {
    border-top: 16px solid @tuk-corner-primary;
    border-right: 16px solid @tuk-corner-primary;
  }

  &.tuk-corner-success,
  &.tuk-ticket-priority-normal {
    border-top: 16px solid @tuk-corner-success;
    border-right: 16px solid @tuk-corner-success;
  }

  &.tuk-corner-warning,
  &.tuk-ticket-priority-high {
    border-top: 16px solid @tuk-corner-warning;
    border-right: 16px solid @tuk-corner-warning;
  }

  &.tuk-corner-danger,
  &.tuk-ticket-priority-urgent {
    border-top: 16px solid @tuk-corner-danger;
    border-right: 16px solid @tuk-corner-danger;
  }
}

.tuk-corner-choice {
  padding-left: 0.5em;

  &.tuk-corner-info,
  &.tuk-ticket-priority-low {
    border-left: 1em solid @tuk-corner-info;
  }

  &.tuk-corner-primary {
    border-left: 1em solid @tuk-corner-primary;
  }

  &.tuk-corner-success,
  &.tuk-ticket-priority-normal {
    border-left: 1em solid @tuk-corner-success;
  }

  &.tuk-corner-warning,
  &.tuk-ticket-priority-high {
    border-left: 1em solid @tuk-corner-warning;
  }

  &.tuk-corner-danger,
  &.tuk-ticket-priority-urgent {
    border-left: 1em solid @tuk-corner-danger;
  }
}