@tuk-ticket-border: @tuk-sketch-dark-border;
@tuk-ticket-header-bg: @tuk-theme-white;
@tuk-ticket-comments-bg: @tuk-theme-card-color;
@tuk-ticket-comments-expand-btn-icon: @tuk-theme-black-hint;
@tuk-ticket-comments-expand-btn-active-icon: @tuk-theme-black-text;
@tuk-ticket-comments-expand-btn-active-bg: @tuk-theme-grey-100;
@tuk-ticket-footer-bg: @tuk-theme-card-color;

@tuk-ticket-space: 40px;
@tuk-ticket-bar-height: 64px;

.tuk-ticket-list {
  .tuk-ticket {
    margin-bottom: 20px;
  }

  .tuk-ticket:first-child {
    margin-top: 20px;
  }
}

.tuk-ticket-header {
  border-radius: 2px 2px 0 0;
  min-height: @tuk-ticket-bar-height;
  border: 1px solid @tuk-ticket-border;
  background-color: @tuk-ticket-header-bg;
  padding: 15px @tuk-ticket-space;
  position: relative;

  .tuk-ticket-subject {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }

  button.tuk-ticket-status {
    color: @tuk-theme-white;
    padding: 2px 8px;
    border: none;
    position: relative;

    &.tuk-ticket-status-pending {
      background-color: @tuk-ticket-color-status-pending;
    }

    &.tuk-ticket-status-replied {
      background-color: @tuk-ticket-color-status-replied;
    }

    &.tuk-ticket-status-resubmitted {
      background-color: @tuk-ticket-color-status-resubmitted;
    }

    &.tuk-ticket-status-solved {
      background-color: @tuk-ticket-color-status-solved;
    }
  }
}

.tuk-ticket-body {
  border-left: 1px solid @tuk-ticket-border;
  border-right: 1px solid @tuk-ticket-border;
  background-color: @tuk-ticket-comments-bg;

  .tuk-ticket-comments {
    min-height: @tuk-ticket-bar-height;
    padding: 0 @tuk-ticket-space;
    max-height: 480px;
    overflow-y: auto;
    position: relative;

    .clearfix();
  }

  .tuk-ticket-body-comments-expand {
    padding: 5px 0;
    text-align: center;
    cursor: pointer;

    i {
      color: @tuk-ticket-comments-expand-btn-icon;
    }

    &:hover {
      i {
        color: @tuk-ticket-comments-expand-btn-active-icon;
      }
    }
  }
}

.tuk-ticket-footer {
  border-radius: 0 0 2px 2px;
  min-height: 64px;
  padding: 15px @tuk-ticket-space;
  border: 1px solid @tuk-ticket-border;
  background-color: @tuk-ticket-footer-bg;

  .input-group {
//    margin: 15px 0;
  }
}