.tuk-ticket-header {
  border-radius: 2px 2px 0 0;
  height: 64px;
  border: 1px solid @tuk-sketch-dark-border;
  font-size: 20px;
  font-weight: 700;
  text-indent: 18px;
  line-height: 64px;
  position: relative;
}

.tuk-ticket-comments {
  min-height: 64px;
  border-left: 1px solid @tuk-sketch-dark-border;
  border-right: 1px solid @tuk-sketch-dark-border;
  background-color: @tuk-body-color;
  padding: 0 20px;
  max-height: 640px;
  overflow-y: auto;

  .clearfix();
}

.tuk-ticket-footer {
  border-radius: 0 0 2px 2px;
  height: 64px;
  padding: 0 20px;
  border: 1px solid @tuk-sketch-dark-border;
  background-color: @tuk-body-color;

  &.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    input[type=text] {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    .tuk-btn-group {
      margin-left: 20px;
    }
  }
}