<div class="container">
    <div>
        <form class="form-inline">
            <div class="form-group">
                <label for="ticketListFilterStatus">状态</label>
                <select class="form-control" id="ticketListFilterStatus" ng-model="globals.ticketsGlobal.view.filter.status" ng-options="opt.val as opt.name for opt in ticketFilterOptions.status" ng-change="ticketListRefresh()">
                    <option value="">不指定</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ticketListFilterPriority">优先级</label>
                <select class="form-control" id="ticketListFilterPriority" ng-model="globals.ticketsGlobal.view.filter.priority" ng-options="opt.val as opt.name for opt in ticketFilterOptions.priority" ng-change="ticketListRefresh()">
                    <option value="">不指定</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ticketListFilterCreated">创建时间</label>
                <select class="form-control" id="ticketListFilterCreated" ng-model="globals.ticketsGlobal.view.filter.created" ng-options="opt.val as opt.name for opt in ticketFilterOptions.time" ng-change="ticketListRefresh()">
                    <option value="">不指定</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ticketListFilterUpdated">更新时间</label>
                <select class="form-control" id="ticketListFilterUpdated" ng-model="globals.ticketsGlobal.view.filter.updated" ng-options="opt.val as opt.name for opt in ticketFilterOptions.time" ng-change="ticketListRefresh()">
                    <option value="">不指定</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ticketListFilterSort">排序</label>
                <select class="form-control" id="ticketListFilterSort" ng-model="globals.ticketsGlobal.view.filter.sort" ng-options="opt.val as opt.name for opt in ticketFilterOptions.sort" ng-change="ticketListRefresh()">
                    <option value="">默认</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="ticketListRefresh()"><i class="fa fa-refresh"></i></button>
                <a class="btn btn-default" ng-click="jumpTo('/tickets/add')"><i class="fa fa-plus"></i></a>
            </div>
        </form>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="tuk-ticket-list">
            <div class="tuk-ticket" ng-repeat="ticket in globals.ticketsGlobal.list.items">
                <div class="tuk-ticket-header">
                    <div class="tuk-ticket-subject">
                        <span>[{{utils.ticketStatusStr(ticket.status)}}]</span>
                        <span ng-bind="ticket.subject"></span>
                    </div>
                    <div>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="ticket.isPublic" ng-change="ticketUpdate(ticket)"/>
                            所有人可见
                        </label>
                        <button class="btn btn-success btn-xs" ng-disabled="ticketIsSolved(ticket)" ng-click="ticketSetToSolved(ticket)"><i class="fa fa-check"></i>已解决</button>
                    </div>
                    <div class="tuk-corner dropdown-toggle tuk-clickable" ng-class="utils.ticketPriorityClass(ticket.priority)" dropdown dropdown-toggle>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="priority in ticketPriority" ng-hide="ticket.priority === priority.val"><a ng-click="ticketUpdatePriority(ticket, priority.val)"><span class="tuk-corner-choice" ng-class="utils.ticketPriorityClass(priority.val)" ng-bind="priority.name"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="tuk-ticket-body">
                    <div class="tuk-ticket-comments">
                        <div ng-repeat="comment in ticket.comments" class="tuk-comment" ng-class="utils.commentTypeClass(comment.type)" ng-show="$last || showAllComments(ticket.id)">
                            <div class="tuk-name-panel">
                                <div class="tuk-avatar"></div>
                                <span class="tuk-name" ng-bind="comment.creator.base.name"></span>
                            </div>
                            <div class="tuk-comment-body">
                                <div class="tuk-comment-time">
                                    <span ng-bind="utils.sinceThenStr(comment.created)"></span>
                                </div>
                                <div class="tuk-comment-content" ng-bind="comment.content"></div>
                                <div class="tuk-comment-buttons">
                                    <!--<div class="tuk-comment-btn"><i class="fa fa-exclamation-circle"></i>关注</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="ticket.comments.length > 1" class="tuk-ticket-body-comments-expand" ng-click="showAllCommentsToggle(ticket.id)"><i ng-hide="showAllComments(ticket.id)" class="fa fa-ellipsis-h"></i><i ng-show="showAllComments(ticket.id)" class="fa fa-caret-up"></i></div>
                </div>
                <div class="tuk-ticket-footer">
                    <div class="input-group">
                        <input type="text" placeholder="快捷回复" class="form-control" ng-model="ticket.newComment.content"/>
                        <div class="input-group-btn dropup" dropdown>
                            <button class="btn btn-default" ng-click="commentAddSubmit(ticket, 'PUBLIC')">回复给用户</button>
                            <button class="btn btn-default dropdown-toggle" dropdown-toggle><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="tuk-clickable" ng-click="commentAddSubmit(ticket, 'INTERNAL')">添加为内部评论</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>