<div class="container">
    <div>
        <form class="form-inline">
            <div class="form-group">
                <label for="ticketListFilterStatus">状态</label>
                <select class="form-control" id="ticketListFilterStatus" ng-model="globals.ticketsGlobal.view.filter.status" ng-options="opt.val as opt.name for opt in ticketFilterOptions.status" ng-change="ticketListRefresh()">
                    <option value="">不指定</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ticketListFilterPriority">优先级</label>
                <select class="form-control" id="ticketListFilterPriority" ng-model="globals.ticketsGlobal.view.filter.priority" ng-options="opt.val as opt.name for opt in ticketFilterOptions.priority" ng-change="ticketListRefresh()">
                    <option value="">不指定</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ticketListFilterCreated">创建时间</label>
                <select class="form-control" id="ticketListFilterCreated" ng-model="globals.ticketsGlobal.view.filter.created" ng-options="opt.val as opt.name for opt in ticketFilterOptions.time" ng-change="ticketListRefresh()">
                    <option value="">不指定</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ticketListFilterUpdated">更新时间</label>
                <select class="form-control" id="ticketListFilterUpdated" ng-model="globals.ticketsGlobal.view.filter.updated" ng-options="opt.val as opt.name for opt in ticketFilterOptions.time" ng-change="ticketListRefresh()">
                    <option value="">不指定</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ticketListFilterSort">排序</label>
                <select class="form-control" id="ticketListFilterSort" ng-model="globals.ticketsGlobal.view.filter.sort" ng-options="opt.val as opt.name for opt in ticketFilterOptions.sort" ng-change="ticketListRefresh()">
                    <option value="">默认</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="tuk-ticket-list">
            <div class="tuk-ticket" ng-repeat="ticket in globals.ticketsGlobal.list.items">
                <div class="tuk-ticket-header">
                    <span>[{{utils.ticketStatusStr(ticket.status)}}]</span>
                    <span ng-bind="ticket.subject"></span>
                    <div class="tuk-corner" ng-class="utils.ticketPriorityClass(ticket.priority)"></div>
                </div>
                <div class="tuk-ticket-body">
                    <div class="tuk-ticket-comments">
                        <div ng-repeat="comment in ticket.comments" class="tuk-comment tuk-comment-type-public" ng-show="$last || showAllComments(ticket.id)">
                            <div class="tuk-name-panel">
                                <div class="tuk-avatar"></div>
                                <span class="tuk-name" ng-bind="comment.creator.base.name"></span>
                            </div>
                            <div class="tuk-comment-body">
                                <div class="tuk-comment-time">2015-06-09 14:02</div>
                                <div class="tuk-comment-content" ng-bind="comment.content"></div>
                                <div class="tuk-comment-buttons">
                                    <div class="tuk-comment-btn"><i class="fa fa-exclamation-circle"></i>关注</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="ticket.comments.length > 1" class="tuk-ticket-body-comments-expand"><i class="fa fa-ellipsis-h"></i></div>
                </div>
                <div class="tuk-ticket-footer flex">
                    <input type="text" placeholder="快捷回复"/>
                    <div class="tuk-btn-group">
                        <div class="tuk-btn tuk-btn-default">提交</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>